<!-- layout.htmlをテンプレートに拡張する-->
{% extends "admin/layout.html" %}
<!-- block content ~ endblock-の範囲がテンプレートの同宣言範囲に差し込まれる -->
{% block content %}
<h1>設定</h1>
<form method="post">
    <h2>全般</h2>
    <div>
        <input type="checkbox"><label>新規ダウンロードの受付</label>
    </div>
    <div>
    <a><button style="background-color: red;color: white;">全ての動画を削除する</button></a>
    </div>
    <input type="submit">
</form>
<form method="post">
    <h2>ネットワーク設定</h2>
    <label>YT-dlpに割り当てるIPアドレス</label>
    <input type="text" placeholder="0.0.0.0">
    <input type="submit">
</form>
<form method="post">
    <h2>ストレージ設定</h2>
    <label>削除条件</label>
    <select>
        <option>一定個数ダウンロードされたら</option>
        <option>一定時間が経過したら</option>
    </select>
    <label>削除方法</label>
    <select>
        <option>古い順に動画を削除する</option>
        <option>新規ダウンロードを停止する</option>
    </select>
    <input type="submit">
</form>
<form method="post">
    <h2>ダウンロード設定</h2>
    <h3>YT-dlp フォーマット</h3>
    <label>動画</label>
    <input type="text">
    <label>音声</label>
    <input type="text">
    <label>ダウンロード回数制限</label>
    <p>
        <input type="number">
        <select>
        <option>分</option>
        <option>時間</option>
        <option>日</option>
    </select>
    に
    <input type="number">回まで
</p>
</form>
{% endblock %}