{% extends "_base.html" %}
{% block title %}{{ site_name }} | オープンソースのYouTube動画ダウンローダー{% endblock %}

{% block content %}
{% if (session.get("google_id") in user_dic) or config.admin["google_oauth"] == False %}
<form method="POST" action="/request" id="urlForm">
    <div class="field">
        <label for="link">動画のURL</label>
        <input type="text" id="link" name="link" placeholder="「ytsearch:キーワード」と入力すれば検索も可能です！" required>
    </div>

    <div class="field">
        <label>種類を選択</label>
        <label class="inline"><input type="radio" name="file_type" value="video" id="video" checked required> 動画</label>
        <label class="inline"><input type="radio" name="file_type" value="audio" id="audio" required> 音声</label>
    </div>

    <div class="field">
        <label class="inline"><input type="checkbox" name="play_directly" checked> 直接Googleのサーバーから再生する</label>
        <p class="hint">これをオンにすると、低画質になる代わりにダウンロードを待たずに再生できます。また、ダウンロードエンコードの指定はできません。</p>
    </div>

    <fieldset>
        <legend>ダウンロードエンコードの指定</legend>
        <p class="hint">ダウンロードコーデックを選択してください。「そのまま」を選択すると、動画はVP9以外、音声はM4Aのコーデックが優先されます。指定されたコーデックがダウンロードできない場合は、代わりに使用できるコーデックを使用します。</p>
        <div class="codecs">
            <div>
                <label for="video_codec">動画コーデック</label>
                <select name="video_codec" id="video_codec">
                    <option value="ios" selected>iOS・古い端末 (古いiPadなど)</option>
                    <option value="latest">最新規格（Android、PCなど）</option>
                </select>
            </div>
            <div>
                <label for="audio_codec">音声コーデック</label>
                <select name="audio_codec" id="audio_codec">
                    <option value="" selected>そのまま（推奨）</option>
                    <option value="m4a">M4A</option>
                    <option value="mp3">MP3</option>
                    <option value="webm">WebM</option>
                    <option value="wav">Wav</option>
                    <option value="opus">Opus</option>
                </select>
            </div>
        </div>
    </fieldset>

    {% if output.new_request == False %}
    <input class="submit-main" type="submit" value="現在受け付けておりません" disabled>
    {% else %}
    <input class="submit-main" type="submit" value="ダウンロード！">
    {% endif %}
</form>
{% else %}
<section class="box" style="text-align:center">
    <p><a class="btn" href="{{ url_for('google_login') }}">Googleでログイン</a> してダウンロード</p>
</section>
{% endif %}

<section class="box">
    <h1>{{ site_name }}について</h1>

    <h2>利用規約</h2>
    <ul>
        <li>利用にかかる損益はすべて自己責任です。このサイトにおいて、いかなる団体との関係は持ちません。なお、YouTubeMP3およびYouTubeMP3 もどきを参考に開発しました。</li>
        <li>私的利用以外は使用しないでください。</li>
        <li>アクセスログは監視しています。自動/手動によるアクセス制限をする可能性があります。</li>
        <li>法律は遵守してください。</li>
    </ul>

    <h2>仕組み</h2>
    <p>YouTubeもどきは、FlaskのYT-dlpウェブラッパーです。YT-dlpとは、youtube-dlの後継である動画ダウンロードライブラリで、様々な動画配信サイトの動画をダウンロードできます。</p>
    <p>FlaskはPythonのWebフレームワークで、YT-dlpとウェブブラウザの仲介をしています。</p>

    <h2>特徴</h2>
    <ul>
        <li>近年のYouTubeMP3 もどきの混雑化をきっかけに開発を開始。</li>
        <li>ブラウザを閉じてもURLにIDが保存されるので再び開くことができます。</li>
        <li>更に、CookieとしてもIDが保存されるので、タブ自体を閉じてしまってもナビゲーションバーの「ダウンロード状況」から最後にダウンロードしたページを開くことができます。</li>
        <li>YouTube検索が可能で、さらに「直接再生機能」により最短5秒で再生することができます。</li>
    </ul>

    <h2>対応サイト</h2>
    <p>YouTubeをはじめとした、ニコニコ動画やAbemaTVなど、YT-dlpが対応している1000以上の動画配信サイトに対応しています。対応サイト一覧は、<a href="https://github.com/yt-dlp/yt-dlp/blob/master/supportedsites.md">yt-dlp/supportedsites.md</a>をご覧ください。</p>
</section>

<section class="box">
    <h2>更新履歴</h2>
    <p>コードは気分次第で更新しているので、重大なバグがあっても修正されるとは限りません。</p>

    <h3>Release 4.0.0 (7月現在開発中)</h3>
    <ul>
        <li>「YouTubeMP3 もどきもどき」から「GOGTubeもどき」に改称</li>
        <li>オープンソース化（予定）</li>
        <li>フロントエンド革新の拡充</li>
    </ul>

    <h3>Release 3.2.0</h3>
    <ul>
        <li>Tailwind CSSを使用した大規模なフロントエンドの革新</li>
        <li>YouTube検索バーの追加、検索機能へ</li>
        <li>同日中に同じIPから同じリクエストがあった場合に既存のステータスを返すように。</li>
        <li>Googleログインの不要化</li>
    </ul>

    <h3>Release 3.1.0 ( '25.06.30)</h3>
    <ul>
        <li>JavaScriptによるダウンロード状況の自動更新機能を追加</li>
        <li><strong>awakestのようなGoogle動画サーバーから直接再生機能を追加</strong>（本当に大変だった）。これは、YT-dlpのextract_info()で得たデータからbestフォーマットのurlを抽出することで機能します。</li>
    </ul>

    <h3>Release 3.0.1</h3>
    <p>コードのリファクタリング（主に型チェック）</p>
    <ul>
        <li>永続化ファイルを作成（試験的にダウンロード合計を）</li>
        <li>Googleログイン機能を追加</li>
        <li>音声フォーマットの修正（M4Aを使用するように）</li>
        <li>クライアント情報を確認できるように</li>
        <li>インターフェースメッセージの変更</li>
    </ul>

    <h3>Release 2.2.1-4（ '25.01.03）</h3>
    <ul>
        <li>コーデックのプリセットを端末別に最適化</li>
        <li>細かい不具合の修正</li>
        <li>最低保存期間を実装</li>
        <li>Dockerイメージを軽量化</li>
        <li>自動削除機能を再実装</li>
    </ul>

    <h3>Release 2.2.0</h3>
    <ul>
        <li>フロントエンドとバックエンドを分離</li>
        <li>動画IDをランダム8桁の数字からUUIDに変更</li>
        <li>ステータスページのURLを変更</li>
    </ul>

    <h3>Release 2.1.1-2</h3>
    <p>細かい改善</p>
    <ul>
        <li>PWAに対応し、アプリのようにインストールできるように</li>
        <li>404,400,500等のエラーページを追加</li>
        <li>アイコン（仮）を追加</li>
    </ul>

    <h3>Release 2.1</h3>
    <p>ログの更新</p>
    <ul>
        <li>多数の不具合の修正や最適化</li>
        <li>ダウンロード数制限を追加</li>
        <li>管理パネルでのログ、容量の確認が可能に</li>
    </ul>

    <h3>Release 2.0</h3>
    <p>管理パネルのアップデート</p>
    <ul>
        <li>管理パネルを追加</li>
        <li>FFMPEGをYT-dlpの絞り込みダウンロードに置き換え</li>
    </ul>

    <h3>Release 1.0 ( '24.09.15)</h3>
    <p>初の安定版リリース、基本機能の実装</p>
    <ul>
        <li>基本的な動画ダウンロード機能を搭載</li>
    </ul>
</section>
{% endblock %}
